<html lang="en" class="js-focus-visible" data-js-focus-visible="">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Personal Finance Management</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="../static/css/main.css">
      <script src="https://code.jquery.com/jquery-2.2.1.min.js" crossorigin="anonymous"></script> 
   </head>
   <body data-new-gr-c-s-check-loaded="14.1015.0" data-gr-ext-installed="" cz-shortcut-listen="true" style="">
      <div class="backdrop"></div>
      <header class="main-header"> 
            <center style=" margin: auto 577px; color: white; "> Welcome to the Personal Finance Management Expert System!</center>
      </header>
      <main>
         <div class="grid">
            <article class="card product-item">
               <header class="card__header">
                  <h1>Evaluate your finance!</h1>
               </header>
               <div class="card__content">
                  <h3>Answer these 11 question and understand your financial summary</h3>
               </div>
               <div class="card__actions">
<!--                  <form action="/predict_file" id="classify" method="POST" enctype="multipart/form-data"> -->
                <form action="{{ url_for('predict')}}" id="classify" method="POST" enctype="multipart/form-data"> 
					<h3>What is you age?</h3>
					<input type="number" name="age" placeholder="Age" required="required" class="">
					<h3>What is your Net income exclusive Taxes?</h3>
					<input type="number" name="income" placeholder="Income" required="required" class="">
					</br></br><h2>Essentials</h2>
               <h3>How much you spend on home rent/Mortgage & Utilities?</h2>
					<input type="number" name="rent" placeholder="Rent & Utilities" required="required" class="">
					<h3>How much you spend on grocery & Bills?</h3>
					<input type="number" name="food" placeholder="Grocery & Bills" required="required" class="">
					<h3>How much you spend on the insurance?</h3>
					<input type="number" name="health_insurance" placeholder="Insurance" required="required" class="">
					</br><h2>Lesisure</h2>
					<h3>How much you spend on Vacations?</h3>
					<input type="number" name="vacations" placeholder="Vacations" required="required" class="">
					<h3>How much you spend on the Leisure Life?</h3>
					<input type="number" name="expensive_clothes" placeholder="Leisure Life" required="required" class="">
					<h3>How much you spend on Entertainment & Hobbies?</h3>
					<input type="number" name="entertainment" placeholder="Entertainment & Hobbies" required="required" class="">
					</br><h2>Savings</h2>
					<h3>How much you save in Savings account?</h3>
					<input type="number" name="real_estate" placeholder="Real_estate" required="required" class="">
					<h3>How much you spend on Stocks, Mutual Funds & Crypto?</h3>
					<input type="number" name="stocks" placeholder="Stocks" required="required" class="">
					<h3>How much you spend on Pf_retirement & Fix deposits?</h3>
					<input type="number" name="pf_retirement" placeholder="Pf_retirement" required="required" class="">
               </br></br><button class="btn" type="submit">Financial Summary</button> 
				</form>
               </div>
               <div class="card__content" id="result"> </div>
            </article>
         </div>
      </main>
	<script> 
	$(document).ready(function() {
    $("#classify").on("submit", function(e) {
        e.preventDefault();
        var fd = new FormData();
        fd.append("pf_retirement", $("input[name=pf_retirement]").val());
        fd.append("stocks", $("input[name=stocks]").val());
        fd.append("real_estate", $("input[name=real_estate]").val());
        fd.append("entertainment", $("input[name=entertainment]").val());
        fd.append("vacations", $("input[name=vacations]").val());
        fd.append("health_insurance", $("input[name=health_insurance]").val());
        fd.append("rent", $("input[name=rent]").val());
        fd.append("food", $("input[name=food]").val());
        fd.append("income", $("input[name=income]").val());
        fd.append("expensive_clothes", $("input[name=expensive_clothes]").val());
        fd.append("age", $("input[name=age]").val());
        $.ajax({
            url: "/predict",
            contentType: false,
            processData: false,
            data: fd,
            type: "POST",
            success: function(data) {
		
				data.split("AIDI").forEach(function(i) {
					if(i.indexOf("Red") != -1){
						$("#result").append("<p style='color:red;'>"+i+"</p>")
					}
					else if(i.indexOf("Appreciation") != -1){
						$("#result").append("<p style='color:green;'>"+i+"</p>")
					}
					else{
						$("#result").append("<p>"+i+"</p>")
					}
					if (i % 2 ==0){
					$("#result").append("</br>")
					}
				})
            },
            error: function(XMLHttpRequest, textStatus) {
                $("#result").html(`<p style="color: red" class="product__description">Some error</p>`);
            }
        })
    })
})
	</script> 
   </body>
</html>